.login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-spinner {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 5;
}
